.edit-posts-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 30px;
}

.boxnopost{
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    border: 4px solid #ffffff;
    height: 600px;
    width: 800px;
    align-items: center;
    justify-content: space-evenly;
}

.noposttext{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    font-family: "Jersey 10", sans-serif;
}

@media (max-width: 768px) {
    .edit-posts-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 0;
    }

    .boxnopost{
        top:0;
        height: 100px;
        width: 300px;
    }

    .noposttext{
        font-size: 1.5rem;
    }
    
}
  