form.boxnewpost{
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    border: 4px solid #ffffff;
    height: 600px;
    width: 800px;
    align-items: center;
    justify-content: space-evenly;
}

input.post{
    border: 2px solid #ffffff;
    width: 650px;
    height: 50px;
    background-color: #fafafa;
    color: black;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

button.post{
    background-color: white;
    width: 300px;
    height: 50px;
    color: black;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.2rem;
}

.success{
    border: 1px solid #16ff22;
    color: #ffffff;
    background-color: #45ed393a;
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 5px;
}

@media (max-width: 768px) {
    form.boxnewpost{
        height: 400px;
        width: 300px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        top: 0;
    }

    input.post{
        width: 220px;
        height: 30px;
        font-size: 0.8rem;
        padding-left: 10px;
    }

    button.post{
        width: 220px;
        height: 30px;
        color: black;
        font-family: "Fira Sans Condensed", sans-serif;
        font-size: 0.8rem;
    }

    
  }