@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.main{
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.restitle {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    font-family: "Jersey 10", sans-serif;
}

  
@media (max-width: 768px) {

    .main{
        background-color: black;
        position: relative;
    }

    .restitle {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        margin-left: 15px;
        font-family: "Jersey 10", sans-serif;

    }
  }